<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@CarrotWeb.RenderControlToHtml((new jquerybasic() { SelectedSkin = jquerybasic.jQueryTheme.Silver }))

	<script src="~/Scripts/bootstrap.min.js"></script>
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/violet.css" rel="stylesheet" />

	<script type="text/javascript">
		$(document).ready(function () {
			$("input:button, input:submit, input:reset, button").button();
			$("input:button, input:submit, input:reset, button").addClass('btn');
		});
	</script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Application name", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Home", "Index", "Admin")</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Test <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>@Html.ActionLink("Database", "GalleryDatabase", "Admin")</li>
							<li>@Html.ActionLink("Gallery List", "Index", "Admin")</li>
							<li>@Html.ActionLink("Add Gallery", "CreateGallery", "Admin")</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
		</footer>
	</div>
</body>
</html>