<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - @ViewBag.WidgetAssemblyName</title>
	@(new jquerybasic() { SelectedSkin = jquerybasic.jQueryTheme.Silver })

	@(new Bootstrap() { SelectedSkin = Bootstrap.BootstrapColorScheme.Plum })
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript">
		$(document).ready(function () {
			doStyles();
		});

		$(document).ajaxComplete(function (event, xhr, settings) {
			doStyles();
		});

		function doStyles() {
			$("input:button, input:submit, input:reset, button").button();
			$("input:button, input:submit, input:reset, button").addClass('btn');
		}

	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.10.7/tinymce.min.js" integrity="sha512-Ckge7OuE2kEtJHLhA8wnsn3aEImoJpk3k4MAhbGnGVlxYAgx/5uv/MYdPTzuX6/dCwbPriGxylCRhTKcRd0MZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script type="text/javascript">
		function cmsTinyMceInit(w, h, r) {
			tinymce.init({
				selector: "textarea.mceEditor",
				height: h,
				width: w,
				resize: r,
				menubar: false,
				plugins: 'image imagetools link lists media charmap searchreplace visualblocks paste print table preview code codesample help',
				toolbar: [
					'undo redo | formatselect forecolor backcolor | bold italic backcolor | bullist numlist outdent indent | help',
					'bold italic underline strikethrough sub sup | alignleft aligncenter alignright alignjustify | removeformat pastetext charmap | codesample code preview visualblocks'
				],
				content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
			});
		}

		function cmsPreSaveTrigger() {
			var tgr = tinymce.triggerSave();

			return true;
		}
	</script>

	<script type="text/javascript">
		var bTinyLoaded = false;

		function cmsAjaxFailed() {
		}

		function AjaxTinyLoad() {
			if (!bTinyLoaded) {
				cmsTinyMceInit(875, 500, false);
			}
			bTinyLoaded = true;
		}

		$(document).ready(function () {
			AjaxTinyLoad();
		});

		$(document).ajaxComplete(function (event, xhr, settings) {
			AjaxTinyLoad();
		});
	</script>

</head>
<body>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - @ViewBag.WidgetAssemblyName</p>
		</footer>
	</div>
</body>
</html>