@model PagedData<carrot_FaqCategory>

@{
	Layout = Carrotware.CMS.Interface.CarrotLayout.Main;
	ViewBag.Title = "FAQ Index";
}

<h3>@ViewBag.Title</h3>

<p>
	@CarrotWeb.ActionImage("CreateFaq", "Admin", null, "~/assets/admin/images/add.png", "Add FAQ", null, null)
	@Html.ActionLink("Create New", "CreateFaq")
</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "sortTable" })) {
	@Html.AntiForgeryToken()

	var grid = CarrotWeb.CarrotWebGrid<carrot_FaqCategory>(Model);

	grid.SetTableAttributes(new { @class = "datatable table" }, new { @class = "tablehead header thead-dark" }, null);
	grid.EmptyDataTemplate = @<text><p> <b>No records found.</b> </p></text>;
	grid.ConfigName(Html.NameFor(x => x));

	grid
	.AddColumn(new CarrotGridTemplateColumn<carrot_FaqCategory> {
		HasHeadingText = false,
		FormatTemplate = @<text> @CarrotWeb.ActionImage("EditFAQ", "Admin", new { @id = @item.FaqCategoryID }, "~/assets/admin/images/pencil.png", @item.FAQTitle, null, null) </text>
	})
	.AddColumn(new CarrotGridTemplateColumn<carrot_FaqCategory> {
		HasHeadingText = false,
		FormatTemplate = @<text> @CarrotWeb.ActionImage("ListFaqItems", "Admin", new { @id = @item.FaqCategoryID }, "~/assets/admin/images/table.png", @item.FAQTitle, null, null) </text>
	})
	.AddColumn(new CarrotGridTemplateColumn<carrot_FaqCategory> {
		HasHeadingText = false,
		FormatTemplate = @<text> @CarrotWeb.ActionImage("CreateFaqItem", "Admin", new { @parent = @item.FaqCategoryID }, "~/assets/admin/images/table_go.png", @item.FAQTitle, null, null) </text>
	})
		.AddColumn(x => x.FAQTitle, new CarrotGridColumn { Sortable = true });

	grid.SetupFooter("ul", new { @class = "tablepager ui-widget ui-helper-clearfix ui-widget-content ui-corner-all" }, "li", new { @class = "ui-state-default ui-state-active ui-corner-all" }, new { @class = "ui-state-default ui-corner-all" });

	@grid.Write()

}