@model CarrotCake.CMS.Plugins.FAQ2.Models.FaqListing

@{
	Layout = Carrotware.CMS.Interface.CarrotLayout.Main;
	ViewBag.Title = "FAQ Item List";
}

<h3>@ViewBag.Title</h3>

<p>
	@CarrotWeb.ActionImage("CreateFaqItem", "Admin", new { @parent = Model.Faq.FaqCategoryID }, "~/assets/admin/images/add.png", "Add FAQ Item", null, null)
	@Html.ActionLink("Create New Item", "CreateFaqItem", new { @parent = Model.Faq.FaqCategoryID })
</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "sortTable" })) {
	@Html.AntiForgeryToken()

	@Html.HiddenFor(model => Model.Faq.FaqCategoryID)
	@Html.HiddenFor(model => Model.Faq.SiteID)
	@Html.HiddenFor(model => Model.Faq.FAQTitle)

	var grid = CarrotWeb.CarrotWebGrid<carrot_FaqItem>(Model.Items);

	grid.TableAttributes = new { @class = "datatable table" };
	grid.THeadAttributes = new { @class = "tablehead" };
	grid.EmptyDataTemplate = @<text><p> <b>No records found.</b> </p></text>;
	grid.ConfigName(Html.NameFor(x => x.Items));

	grid
	.AddColumn(new CarrotGridTemplateColumn<carrot_FaqItem> {
		HasHeadingText = false,
		FormatTemplate = @<text> @CarrotWeb.ActionImage("EditFaqItem", "Admin", new { @id = @item.FaqItemID }, "~/assets/admin/images/pencil.png", "Edit", null, null) </text>
	})

	.AddColumn(x => x.Caption, new CarrotGridColumn { Sortable = true })
	.AddColumn(x => x.ItemOrder, new CarrotGridColumn { Sortable = true })
	.AddColumn(x => x.IsActive, new CarrotGridBooleanImageColumn {
		AlternateTextTrue = "Active",
		AlternateTextFalse = "Inactive",
		Sortable = true
	});

	grid.SetupFooter("ul", new { @class = "tablepager ui-widget ui-helper-clearfix ui-widget-content ui-corner-all" }, "li", new { @class = "ui-state-default ui-state-active ui-corner-all" }, new { @class = "ui-state-default ui-corner-all" });

	@grid.Write()

}