@model PagePayload

<div id="contactForm">
	@{
		using (var cmtFrm = CarrotCakeHtml.BeginContactForm(new AjaxOptions { UpdateTargetId = "contactForm" }, Model)) {
			var cmt = cmtFrm.GetModelHelper("_contactform");

			@cmt.ValidationSummary(true, "", new { @class = "text-danger" })
			<div>
				<label>Name</label><br />
				@cmt.TextBoxFor(m => m.CommenterName)
				@cmt.ValidationMessageFor(m => m.CommenterName, "", new { @class = "text-danger" })
			</div>

			<div>
				<label>Email</label><br />
				@cmt.TextBoxFor(m => m.CommenterEmail)
				@cmt.ValidationMessageFor(m => m.CommenterEmail, "", new { @class = "text-danger" })
			</div>

			<div>
				<label>Your Comments</label>
				@cmt.ValidationMessageFor(m => m.PostCommentText, "", new { @class = "text-danger" })
				<br />
				@cmt.TextAreaFor(m => m.PostCommentText, new { rows = "5", cols = "50" })
			</div>

			<br />
			<input class="button" type="submit" />
			<input class="button" type="reset" value="Clear form" />
		}

	}
</div>