@inherits CmsWebViewPage

@{
	Layout = "_main.cshtml";
}

@section SubContent {
	<div>
		@Html.Partial("_loginout")
	</div>
	<div>
		@Html.Partial("_forgot")
	</div>
	<div>
		@Html.Partial("_reset")
	</div>
	<div>
		@Html.Partial("_changepass")
	</div>
	<div>
		@Html.Partial("_changeprofile")
	</div>
}

@section SideBar {
	<ul>
		<li>
			@if (CmsPage.ChildNav.Any()) {
				<h2>Child Pages</h2>
				<ul class="sidemenu">
					@foreach (var itm in CmsPage.ChildNav) {
						<li><a href="@itm.FileName">@itm.NavigationText</a></li>
					}
				</ul>
			}
		</li>
		<li>
			@if (CmsPage.SiblingNav.Any()) {
				<h2>Sibling Pages</h2>
				<ul class="sidemenu">
					@foreach (var itm in CmsPage.SiblingNav) {
						<li><a href="@itm.FileName">@itm.NavigationText</a></li>
					}
				</ul>
			}
		</li>
	</ul>
}