@model PagePayload

<div id="contactForm">
	@{
		var cap = new Captcha();

		using (var cmtFrm = CarrotCakeHtml.BeginContactForm(new AjaxOptions { UpdateTargetId = "contactForm" }, Model)) {
			var cmt = cmtFrm.GetModelHelper("_contactform", cap);
			if (!cmt.ViewData.Model.IsSaved) {
				@cmt.ValidationSummary(true, "", new { @class = "text-danger" })

				<label>Name</label>
				@cmt.TextBoxFor(m => m.CommenterName)
				@cmt.ValidationMessageFor(m => m.CommenterName, "", new { @class = "text-danger" })
				<label>Email</label>
				@cmt.TextBoxFor(m => m.CommenterEmail)
				@cmt.ValidationMessageFor(m => m.CommenterEmail, "", new { @class = "text-danger" })
				<label>Your Comments</label>
				@cmt.ValidationMessageFor(m => m.PostCommentText, "", new { @class = "text-danger" })
				@cmt.TextAreaFor(m => m.PostCommentText, new { rows = "5", cols = "50" })
				<br />
				<div>
					@cap<br />
					@cap.Instructions <br />
					@cmt.TextBoxFor(m => m.ValidationValue)
					@cmt.ValidationMessageFor(m => m.ValidationValue, "", new { @class = "text-danger" })
				</div>

				<br />
				<input class="button" type="submit" />
				<input class="button" type="reset" value="Clear form" />
			} else {
				<p>Thank you for your comment.</p>
			}
		}

	}
</div>