<!DOCTYPE html>
@{
	Layout = null;

	bool siteExists = SiteData.CurrentSiteExists;
	var versionKey = string.Format("cms={0}", SiteData.CurrentDLLVersion);
}
<html lang="en" data-bs-theme="auto">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		@String.Format("{0} - {1}", SiteData.CarrotCakeCMSVersionMM, ViewBag.Title)
	</title>

	@Html.Partial("~/Views/CmsAdmin/_mainCommonHead.cshtml")

	@RenderSection("scripts", required: false)
</head>
<body>
	<div id="cmsAjaxMainDiv">
		@if (SiteData.CurrentSite != null) {
			<div class="container">
				<h3>
					@if (!string.IsNullOrEmpty(SiteData.CurrentSite.SiteTagline)
					&& !string.IsNullOrEmpty(SiteData.CurrentSite.SiteTagline)) {
						@String.Format("{0}:  {1}", SiteData.CurrentSite.SiteName, SiteData.CurrentSite.SiteTagline)
					} else {
						@String.Format("{0}  {1}", SiteData.CurrentSite.SiteName, SiteData.CurrentSite.SiteTagline)
					}
				</h3>
			</div>
		}
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary" aria-label="navbar">
			<div class="container">
				<a class="navbar-brand" href="@SiteData.AdminFolderPath">@SiteData.CarrotCakeCMSVersionMM</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbar" aria-controls="adminNavbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="adminNavbar">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						@using (CarrotWeb.BeginWrappedItem("li", "Index;SiteInfo;ContentEditHistory;SiteSkinIndex;SiteSkinEdit;SiteTemplateUpdate;SiteDataExport;ContentImport;SiteContentStatusChange;SiteSkinIndex", CmsRouteConstants.CmsController.Admin, new { @id = "tabMainTop", @class = "nav-item dropdown active" }, new { @id = "tabMainTop", @class = "nav-item dropdown" })) {
							<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Site </a>
							<ul class="dropdown-menu">
								<li id="tabMain"><a class="dropdown-item" href="@SiteFilename.SiteInfoURL">Site Info</a> </li>
								@if (siteExists) {
									<li id="tabHistory"><a class="dropdown-item" href="@SiteFilename.ContentEditHistoryURL">Content Edit History</a> </li>
									<li id="tabContentSkin"><a class="dropdown-item" href="@SiteFilename.SiteSkinIndexURL">Site Skin Index</a> </li>
									<li id="tabMainTemplate"><a class="dropdown-item" href="@SiteFilename.SiteTemplateUpdateURL">Bulk Apply Templates</a> </li>
									<li id="tabStatusChange"><a class="dropdown-item" href="@SiteFilename.SiteContentStatusChangeURL">Bulk Change Status</a> </li>
									<li id="tabExportSite"><a class="dropdown-item" href="@SiteFilename.SiteExportURL">Export Site</a> </li>
									<li id="tabImportContent"><a class="dropdown-item" href="@SiteFilename.ContentImportURL">Import Content</a> </li>
								}
							</ul>
						}

						@if (siteExists) {
							using (CarrotWeb.BeginWrappedItem("li", "PageIndex;PageAddEdit;PageTemplateUpdate;SiteMap;PageCommentIndex", CmsRouteConstants.CmsController.Admin, new { @id = "tabContentTop", @class = "nav-item dropdown active" }, new { @id = "tabContentTop", @class = "nav-item dropdown" })) {
								<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Pages </a>
								<ul class="dropdown-menu">
									<li id="tabContent"><a class="dropdown-item" href="@SiteFilename.PageIndexURL">Page Index</a> </li>
									<li id="tabAddContent"><a class="dropdown-item" href="@SiteFilename.PageAddEditURL">Add Page</a> </li>
									<li id="tabContentTemplate"><a class="dropdown-item" href="@SiteFilename.PageTemplateUpdateURL">Bulk Apply Templates</a> </li>
									<li id="tabContentSiteMap"><a class="dropdown-item" href="@SiteFilename.SiteMapURL">Edit Site Map</a> </li>
									<li id="tabContentCommentIndex"><a class="dropdown-item" href="@SiteFilename.PageCommentIndexURL">Page Comment Index</a> </li>
								</ul>
							}

							using (CarrotWeb.BeginWrappedItem("li", "BlogPostIndex;BlogPostAddEdit;BlogPostTemplateUpdate;CategoryIndex;CategoryAddEdit;TagIndex;TagAddEdit;BlogPostCommentIndex", CmsRouteConstants.CmsController.Admin, new { @id = "tabBlogTop", @class = "nav-item dropdown active" }, new { @id = "tabBlogTop", @class = "nav-item dropdown" })) {
								<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Posts </a>
								<ul class="dropdown-menu">
									<li id="tabBlogContent"><a class="dropdown-item" href="@SiteFilename.BlogPostIndexURL">Blog Post Index</a> </li>
									<li id="tabAddBlogContent"><a class="dropdown-item" href="@SiteFilename.BlogPostAddEditURL">Add Blog Post</a> </li>
									<li id="tabBlogTemplate"><a class="dropdown-item" href="@SiteFilename.BlogPostTemplateUpdateURL">Bulk Apply Templates</a> </li>
									<li id="tabBlogCategoryIndex"><a class="dropdown-item" href="@SiteFilename.CategoryIndexURL">Blog Category Index</a> </li>
									<li id="tabBlogTagIndex"><a class="dropdown-item" href="@SiteFilename.TagIndexURL">Blog Tag Index</a> </li>
									<li id="tabBlogCommentIndex"><a class="dropdown-item" href="@SiteFilename.BlogPostCommentIndexURL">Blog Comment Index</a> </li>
								</ul>
							}

							using (CarrotWeb.BeginWrappedItem("li", "ModuleIndex;TextWidgetIndex;ContentSnippetIndex;ContentSnippetAddEdit", CmsRouteConstants.CmsController.Admin, new { @id = "tabExtensions", @class = "nav-item dropdown active" }, new { @id = "tabExtensions", @class = "nav-item dropdown" })) {
								<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Extensions </a>
								<ul class="dropdown-menu">
									<li id="tabModules"><a class="dropdown-item" href="@SiteFilename.ModuleIndexURL">Modules</a> </li>
									<li id="tabTxtWidgets"><a class="dropdown-item" href="@SiteFilename.TextWidgetIndexURL">Text Widgets</a> </li>
									<li id="tabSnippets"><a class="dropdown-item" href="@SiteFilename.ContentSnippetIndexURL">Content Snippets</a> </li>
								</ul>
							}
						}

						<li class="nav-item"><a class="nav-link" href="#" onclick="cmsFileBrowserOpen('not-a-real-file')">Browse Files</a> </li>

						@if (SecurityData.IsAdmin) {
							using (CarrotWeb.BeginWrappedItem("li", "UserIndex;RoleIndex;RoleAddEdit;UserAdd;UserEdit;SiteIndex;SiteDetail", CmsRouteConstants.CmsController.Admin, new { @id = "tabUserSecurity", @class = "nav-item dropdown active" }, new { @id = "tabUserSecurity", @class = "nav-item dropdown" })) {
								<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Security </a>
								<ul class="dropdown-menu">
									<li id="tabUserAdmin"><a class="dropdown-item" href="@SiteFilename.UserIndexURL">Users</a> </li>
									<li id="tabGroupAdmin"><a class="dropdown-item" href="@SiteFilename.RoleIndexURL">Roles</a> </li>
									<li id="tabSites"><a class="dropdown-item" href="@SiteFilename.SiteIndexURL">Sites</a> </li>
								</ul>
							}
						}

						<li class="nav-item"><a class="nav-link" href="#" onclick="ShowWindowNoRefresh('@SiteFilename.AboutURL')">About</a></li>

						<li class="nav-item"><a class="nav-link" target="_blank" href="~/">View Site</a> </li>

						<li id="tabProfileTop" class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
								@String.Format("My Profile [{0}]", SecurityData.CurrentUserIdentityName)
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#" onclick="ShowWindowNoRefresh('@SiteFilename.UserProfileURL');">Edit Profile</a> </li>
								<li><a class="dropdown-item" href="#" onclick="ShowWindowNoRefresh('@SiteFilename.ChangePasswordURL');">Change Password</a> </li>
								<li><a class="dropdown-item" href="#" onclick="LogoutLink();">Logout</a> </li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div id="content" class="container body-content bootstrap-content">
			<div class="col-md-12 mx-auto">
				<h1 class="headingColor">
					@ViewBag.Title
				</h1>
				<div id="cmsAjaxMainDiv">
					<div id="ajaxUpdatePanel">
						@RenderBody()
					</div>
				</div>
			</div>

			<div class="widthshim">
			</div>
		</div>

		@Html.Partial("~/Views/CmsAdmin/_mainCommonFoot.cshtml")

		<div class="container body-content">
			<hr />
			<footer>
				<p>
					&copy; <a target="_blank" href="http://www.carrotware.com">carrotware.com</a>
					@String.Format(" 2001 - {0:yyyy} ", DateTime.UtcNow)
					<br />
					@SiteData.CarrotCakeCMSVersion
					<br />
					@if (SiteData.CurrentSite != null) {
						<span>
							Site Time: @SiteData.CurrentSite.Now
							@SiteData.CurrentSite.TimeZoneIdentifier
						</span>
						<br />
					}
				</p>
			</footer>
		</div>
	</div>
	@RenderSection("footer", required: false)

	<div>
		@{
			string partialView = Helper.InsertSpecialView(Helper.ViewLocation.AdminMainFooter);
			if (!string.IsNullOrEmpty(partialView)) {
				@Html.Partial(partialView)
			}
		}
	</div>
</body>
</html>