<!DOCTYPE html>
@{
	Layout = null;

	var versionKey = string.Format("cms={0}", SiteData.CurrentDLLVersion);
}
<html lang="en" data-bs-theme="auto">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="~/Assets/Admin/includes/normalize.css" rel="stylesheet" type="text/css" />
	<title>
		@String.Format("{0} - {1}", ViewBag.Title, SiteData.CarrotCakeCMSVersionMM)
	</title>

	<link href="~/Assets/iCheck/iCheck.css" rel="stylesheet" type="text/css" />
	<link href="~/Assets/Admin/Includes/chosen.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Assets/Admin/includes/jquery.ui.timepicker.css" rel="stylesheet" type="text/css" />
	<link href="~/Assets/Admin/includes/modal.css" rel="stylesheet" type="text/css" />
	<link href="~/Assets/MiniColors/jquery.minicolors.css" rel="stylesheet" />

	@(new CmsSkin() { SelectedColor = Helper.SiteSkin, EmitBootstrap = true, WindowMode = CmsSkin.SkinMode.Popup })
	@(new AdminScriptInfo())

	<script src="~/Assets/iCheck/icheck.min.js?@versionKey" type="text/javascript"></script>
	<script src="~/Assets/Admin/Includes/icheck.init.js?@versionKey" type="text/javascript"></script>
	<script src="~/Assets/Admin/includes/jquery.ui.timepicker.js?@versionKey" type="text/javascript"></script>
	<script src="~/Assets/Admin/includes/base64.js?@versionKey" type="text/javascript"></script>
	<script src="~/Assets/Admin/includes/jquery.simplemodal.js?@versionKey" type="text/javascript"></script>
	<script src="~/Assets/Admin/includes/jquery.blockUI.js?@versionKey" type="text/javascript"></script>
	<script src="~/Assets/Admin/Includes/chosen.jquery.min.js?@versionKey" type="text/javascript"></script>
	<script src="~/Assets/MiniColors/jquery.minicolors.min.js?@versionKey" type="text/javascript"></script>
	@if (SecurityData.IsAuthUser) {
		<script src="~/Assets/Admin/includes/common-utils.js?@versionKey" type="text/javascript"></script>
		<script type="text/javascript">

			$(document).ready(function () {
				AjaxBtnLoad();
			});

			$(document).ajaxComplete(function (event, xhr, settings) {
				AjaxBtnLoad();
			});
		</script>
		<!-- TinyMCE -->
		<script src="~/Assets/tinymce/tinymce.min.js?@versionKey" type="text/javascript"></script>
		<script src="~/Assets/Admin/includes/tinymce-config.js?@versionKey" type="text/javascript"></script>

		<script type="text/javascript">
			var pnl = '#divSavedAlert';
			var fld = '#hdnShowSaveLayer';
			var timer1 = '';

			function DisplaySaveBox() {

				if ($(fld).length < 1) {
					hideAlert();
				}

				if (timer1 != '') {
					clearTimeout(timer1);
				}

				if ($(fld).length > 0 && $(pnl).length > 0) {
					if ($(fld).val().length > 0) {
						$(pnl).css('display', '');
						timer1 = setTimeout(function () { hideAlert(); }, 3000);
					}

					$(fld).val('');
				}
			}

			function hideAlert() {
				if ($(pnl).length > 0) {
					$(pnl).css('display', 'none');
				}
			}

			var bTinyLoaded = false;
			function AjaxTinyLoad() {
				if (!bTinyLoaded) {
					var modalSizeW = window.parent.$("#cms-simplemodal-container").width();
					var tinyW = modalSizeW - 150;
					cmsTinyMceInit(tinyW, 450, true);
				}
				bTinyLoaded = true;
			}

			function AjaxScriptLoad() {

				AjaxTinyLoad();

				DisplaySaveBox();
			}

			$(document).ready(function () {
				AjaxScriptLoad();
			});
		</script>
		<link href="~/Assets/Admin/Includes/tinymceoverride.css?@versionKey" rel="stylesheet" />
		<!-- /TinyMCE -->
	}
	@RenderSection("scripts", required: false)
</head>
<body>
	<div id="divSavedAlert" class="info-saved" style="display: none;">
		<h2>
			@ViewBag.SavedPageAlertText
		</h2>
	</div>

	<div class="bootstrap-content">
		<h1 class="headingColor">
			@ViewBag.Title
		</h1>

		<div id="cmsAjaxMainDiv">
			<div id="ajaxUpdatePanel">
				@RenderBody()
			</div>
		</div>
	</div>

	<div style="display: none">
		<input type="hidden" id="hdnShowSaveLayer" value="@ViewBag.SavedPageAlert" />

		<div id="cms-basic-modal-content">
			<div id="cmsModalFrame">
			</div>
		</div>

		<div id="divCMSModal" title="CarrotCake CMS">
			<div id="divCMSModalMsg">
				&nbsp;
			</div>
		</div>

		<div id="divCMSCancelWin" title="Quit Editor?">
			<p id="divCMSCancelWinMsg">
				Are you sure you want cancel?
			</p>
		</div>
	</div>
	@RenderSection("footer", required: false)

	<div>
		@{
			string partialView = Helper.InsertSpecialView(Helper.ViewLocation.AdminPopupFooter);
			if (!String.IsNullOrEmpty(partialView)) {
				@Html.Partial(partialView)
			}
		}
	</div>
</body>
</html>