@model PostIndexModel

@{
	ViewBag.Title = "Blog Index";
}

<div>
	<table style="width: 625px;">
		<tr>
			<td style="width: 48%;">
				<a href="@SiteFilename.BlogPostIndexURL">
					<img class="imgNoBorder" src="~/Assets/Admin/Images/table.png" alt="View Page Index" title="View Page Index" />
					View Blog Post Index
				</a>
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
			<td style="width: 48%;">
				<a href="@SiteFilename.BlogPostTemplateUpdateURL">
					<img class="imgNoBorder" src="~/Assets/Admin/Images/overlays.png" alt="Apply Skins" title="Bulk Apply Templates/Skins" />
					Bulk Apply Templates/Skins
				</a>
			</td>
		</tr>

		<tr>
			<td style="width: 48%;">
				<a href="@SiteFilename.BlogPostAddEditURL">
					<img class="imgNoBorder" src="~/Assets/Admin/Images/add.png" alt="Add" title="Add as WYSIWYG" />
					Add Blog Post (with HTML editor)
				</a>
			</td>
			<td>
				&nbsp;
			</td>
			<td style="width: 48%;">
				<a href="@String.Format("{0}?mode=raw", SiteFilename.BlogPostAddEditURL)">
					<img class="imgNoBorder" src="~/Assets/Admin/Images/script_add.png" alt="Add" title="Add as Plain Text" />
					Add Blog Post (as plain text)
				</a>
			</td>
		</tr>
	</table>
</div>
<br />

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "contentIndex" })) {
	@Html.AntiForgeryToken()

	var grid = CarrotWeb.CarrotWebGrid<ContentPage>(Model.Page);

	grid.TableAttributes = new { @class = "datatable" };
	grid.THeadAttributes = new { @class = "tablehead" };
	grid.SetupFooter("ul", new { @class = "tablepager ui-widget ui-helper-clearfix ui-widget-content ui-corner-all" }, "li", new { @class = "ui-state-default ui-state-active ui-corner-all" }, new { @class = "ui-state-default ui-corner-all" });
	grid.EmptyDataTemplate = @<text><p> <b>No records found.</b> </p></text>;
	grid.HtmlFormId = "contentIndex";
	grid.PageSizeExternal = true;
	grid.ConfigName(Html.NameFor(x => x.Page));

	<table>
		<tr>
			<td class="tablecaption">
				show content:
			</td>
			<td>
				<div class="jqradioset">
					@Html.RadioButtonFor(i => i.SelectedSearch, PageIndexModel.SearchBy.Filtered, new { GroupName = "rdoSelectedSearch", id = "rdoSelectedSearch1", onclick = "this.form.submit();" })
					<label for="rdoSelectedSearch1">Show Filtered</label>

					@Html.RadioButtonFor(i => i.SelectedSearch, PageIndexModel.SearchBy.AllPages, new { GroupName = "rdoSelectedSearch", id = "rdoSelectedSearch2", onclick = "this.form.submit();" })
					<label for="rdoSelectedSearch2">Show All</label>
				</div>
			</td>
		</tr>
	</table>

	if (Model.SelectedSearch == PageIndexModel.SearchBy.Filtered) {
		<table>
			<tr>
				<td class="tablecaption">
					go live date post filter:
					<br />
				</td>
				<td>
					&nbsp;&nbsp;
				</td>
				<td>
					@Html.TextBoxFor(m => m.SearchDate, "{0:MM/dd/yyyy}", new { @class = "dateRegion form-control-sm", maxlength = "16", size = "12" })

					@Html.DropDownListFor(m => m.SelectedRange, new SelectList(Model.DateRanges, "Key", "Value"))
					<div style="clear: both; height: 2px;">
					</div>
				</td>
				<td>
					&nbsp;&nbsp;
				</td>
				<td>
					<input type="submit" name="btnFilter" value="Apply" id="btnFilter" />
				</td>
			</tr>
		</table>
	} else {
		<p>
			<input id="btnChangePage" type="submit" value="Change Page Size" name="btnChangePage">
			@Html.DropDownListFor(m => m.Page.PageSize, new SelectList(Model.PageSizes.Select(x => new { Value = x, Text = x }), "Value", "Text"))
		</p>
		@Html.HiddenFor(m => m.SelectedRange)
	}

	<p>
		<br />
	</p>
	<p>
		@String.Format("{0} total records", grid.DataPage.TotalRecords)
	</p>

	grid
		.AddColumn(new CarrotGridTemplateColumn<ContentPage> {
			HasHeadingText = false,
			FormatTemplate = @<text> @CarrotWeb.ActionImage("BlogPostAddEdit", RouteConfig.AdminCtrlr, new { @id = @item.Root_ContentID }, "~/Assets/Admin/Images/pencil.png", "Edit with WYSIWYG", null, null) </text>
		})
		.AddColumn(new CarrotGridTemplateColumn<ContentPage> {
			HasHeadingText = false,
			FormatTemplate = @<text> @CarrotWeb.ActionImage("BlogPostAddEdit", RouteConfig.AdminCtrlr, new { @id = @item.Root_ContentID, @mode = "raw" }, "~/Assets/Admin/Images/script.png", "Edit with Plain Text", null, null) </text>
		})
		.AddColumn(new CarrotGridTemplateColumn<ContentPage> {
			HasHeadingText = false,
			FormatTemplate = @<a target="_blank" href="@String.Format("{0}/{1}", SiteFilename.ContentExportURL, item.Root_ContentID)">
				<img src="~/Assets/Admin/Images/html_go.png" alt="Export latest version of this page" title="Export latest version of this page" />
			</a>
		})
		.AddColumn(new CarrotGridTemplateColumn<ContentPage> {
			HasHeadingText = false,
			FormatTemplate = @<a target="_blank" href="@item.FileName">
				<img src="~/Assets/Admin/Images/html.png" alt="Visit Page" title="Visit Page" />
			</a>
		})
		.AddColumn(new CarrotGridTemplateColumn<ContentPage> {
			HasHeadingText = false,
			FormatTemplate = @<a target="_blank" href="@String.Format("{0}?carrotedit=true", item.FileName)">
				<img src="~/Assets/Admin/Images/overlays.png" alt="Advanced Editor" title="Advanced Editor" />
			</a>
		})
		.AddColumn(new CarrotGridTemplateColumn<ContentPage> {
			HasHeadingText = false,
			FormatTemplate = @<text>
				<a href="javascript:void(0)" onclick="@String.Format("ShowWindowNoRefresh('{0}/{1}')", SiteFilename.PageHistoryURL, item.Root_ContentID)">
					<img src="~/Assets/Admin/Images/hourglass.png" alt="View Page History" title="View Page History" />
				</a>
			</text>
		})
		.AddColumn(x => x.NavMenuText, new CarrotGridColumn { Sortable = true })
		.AddColumn(x => x.FileName, new CarrotGridColumn { Sortable = true })
		.AddColumn(x => x.CreateDate, new CarrotGridColumn { Sortable = true, CellFormatString = "{0:M/d/yyyy}" })
		.AddColumn(x => x.EditDate, new CarrotGridColumn { Sortable = true, CellFormatString = "{0:M/d/yyyy}" })
		.AddColumn(x => x.GoLiveDate, new CarrotGridColumn { Sortable = true, CellFormatString = "{0:M/d/yyyy}" })
		.AddColumn(x => x.RetireDate, new CarrotGridColumn { Sortable = true, CellFormatString = "{0:M/d/yyyy}" })
		.AddColumn(x => x.VersionCount, new CarrotGridColumn { Sortable = true })

		.AddColumn(x => x.IsRetired, new CarrotGridBooleanImageColumn {
			AlternateTextTrue = "Retired",
			AlternateTextFalse = "Active",
			ImagePathTrue = "~/Assets/Admin/Images/clock_red.png",
			ImagePathFalse = "~/Assets/Admin/Images/clock.png",
			Sortable = true
		})
		.AddColumn(x => x.IsUnReleased, new CarrotGridBooleanImageColumn {
			AlternateTextTrue = "Unreleased",
			AlternateTextFalse = "Active",
			ImagePathTrue = "~/Assets/Admin/Images/clock_red.png",
			ImagePathFalse = "~/Assets/Admin/Images/clock.png",
			Sortable = true
		})
		.AddColumn(x => x.BlockIndex, new CarrotGridBooleanImageColumn {
			AlternateTextTrue = "Yes",
			AlternateTextFalse = "No",
			ImagePathTrue = "~/Assets/Admin/Images/zoom_out.png",
			ImagePathFalse = "~/Assets/Admin/Images/magnifier.png",
			Sortable = true
		})
		.AddColumn(x => x.PageActive, new CarrotGridBooleanImageColumn {
			AlternateTextTrue = "Active",
			AlternateTextFalse = "Inactive",
			Sortable = true
		});

		<div class="tablezone">
			@grid.Write()
		</div>
}