@model Carrotware.CMS.Security.Models.ChangePasswordViewModel
@{
	Layout = CarrotLayout.Popup;

	ViewBag.Title = "User Preferences ";

	bool showSuccess = !String.IsNullOrEmpty(ViewBag.ChangePasswordSuccess);
}

@if (showSuccess) {
	<h3>
		@ViewBag.ChangePasswordSuccess
	</h3>
} else {
	<fieldset class="fieldset-sm">
		<legend>
			<label>
				Change Password
			</label>
		</legend>

		@using (Html.BeginForm(SiteActions.ChangePassword, CmsRouteConstants.CmsController.Admin, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
			@Html.AntiForgeryToken()

			@Html.ValidationSummary("", new { @class = "text-danger" })

			<div style="width: 450px">

				<table style="width: 450px;">
					<tr>
						<td class="tablecontents" style="width: 125px;">
							@Html.LabelFor(m => m.OldPassword, new { @class = "caption" })
						</td>
						<td class="tablecontents">
							@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control-md" })
							@Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "validationError" })
						</td>
					</tr>
					<tr>
						<td class="tablecontents">
							@Html.LabelFor(m => m.NewPassword, new { @class = "caption" })
						</td>
						<td class="tablecontents">
							@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control-md" })
							@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "validationError" })
						</td>
					</tr>
					<tr>
						<td class="tablecontents">
							@Html.LabelFor(m => m.ConfirmPassword, new { @class = "caption" })
						</td>
						<td class="tablecontents">
							@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control-md" })
							@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "validationError" })
						</td>
					</tr>
				</table>

				<p style="text-align: right; padding-right: 40px;">
					<input type="submit" name="btnChange" value="Submit" id="btnChange" />
				</p>
			</div>

		}
	</fieldset>
}