@model Carrotware.CMS.Security.Models.ForgotPasswordViewModel

@{
	Layout = CarrotLayout.Public;

	ViewBag.Title = "Forgot Password?";
}

@using (Html.BeginForm(SiteActions.ForgotPassword, CmsRouteConstants.CmsController.Admin, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
	@Html.AntiForgeryToken()

	<table style="width: 380px;">
		<tr>
			<td class="tableback">
				<div style="height: 10px; width: 20px; border: 1px solid transparent;">
					&nbsp;
				</div>
			</td>
			<td class="tableback">
				<b class="caption">email address</b>&nbsp;
				@Html.ValidationMessageFor(m => m.Email, "", new { @class = "validationError" })
				<br />
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control-lg", tabindex = "1" })
			</td>
			<td class="tableback">
				<div style="height: 10px; width: 20px; border: 1px solid transparent;">
					&nbsp;
				</div>
			</td>
		</tr>
		<tr>
			<td class="tableback">
				&nbsp;
			</td>
			<td class="tableback" align="right">
				<br />
				<input type="button" name="cmdCancel" value="Cancel" id="cmdCancel" tabindex="2" onclick="location.href = '@SiteFilename.LoginURL';" />
				&nbsp;
				<input type="submit" name="cmdReset" value="Reset" id="cmdReset" tabindex="3" />
			</td>
			<td class="tableback" align="right">
				&nbsp;
			</td>
		</tr>
		<tr>
			<td class="tableback">
				&nbsp;
			</td>
			<td class="tableback" align="right"></td>
			<td class="tableback" align="right">
				&nbsp;
			</td>
		</tr>
	</table>
	@Html.Partial("_PublicValidError")

	<div style="display: none;">
	</div>

}