@model DashboardInfo

@{
	ViewBag.Title = "Site Dashboard";
}

<div id="cmsDashboardIcons" class="ui-corner-all">
	<div class="ui-corner-all dashboardCell">
		<a href="@SiteFilename.SiteInfoURL">
			<img alt="" src="/Assets/Admin/Images/SiteData.png" class="imgNoBorder dash-icon" />
			<div>
				Site Info
			</div>
		</a>
	</div>
	<div class="ui-corner-all dashboardCell">
		<a href="@SiteFilename.ContentImportURL">
			<img alt="" src="/Assets/Admin/Images/ImportData.png" class="imgNoBorder dash-icon" />
			<div>
				Import Content
			</div>
		</a>
	</div>
	<div class="ui-corner-all dashboardCell">
		<a href="@SiteFilename.SiteExportURL">
			<img alt="" src="/Assets/Admin/Images/ExportData.png" class="imgNoBorder dash-icon" />
			<div>
				Export Content
			</div>
		</a>
	</div>
	<div class="ui-corner-all dashboardCell">
		<a href="@SiteFilename.SiteTemplateUpdateURL">
			<img alt="" src="/Assets/Admin/Images/TemplateUpdate.png" class="imgNoBorder dash-icon" />
			<div>
				Bulk Apply Templates
			</div>
		</a>
	</div>
	<div class="ui-corner-all dashboardCell">
		<a href="@SiteFilename.SiteContentStatusChangeURL">
			<img alt="" src="/Assets/Admin/Images/StatusChange.png" class="imgNoBorder dash-icon" />
			<div>
				Bulk Change Status
			</div>
		</a>
	</div>
	<div class="ui-corner-all dashboardCell">
		<a href="@SiteFilename.PageIndexURL">
			<img alt="" src="/Assets/Admin/Images/PageIndex.png" class="imgNoBorder dash-icon" />
			<div>
				@String.Format("Pages ({0}) ", Model.Pages)
			</div>
		</a>
		<p>
			<a href="@SiteFilename.PageAddEditURL">
				<img class="imgNoBorder" src="/Assets/Admin/Images/add.png" alt="Add" title="Add as WYSIWYG" />
				Add
			</a>
		</p>
	</div>
	<div class="ui-corner-all dashboardCell">
		<a href="@SiteFilename.BlogPostIndexURL">
			<img alt="" src="/Assets/Admin/Images/BlogIndex.png" class="imgNoBorder dash-icon" />
			<div>
				@String.Format("Posts ({0}) ", Model.Posts)
			</div>
		</a>
		<p>
			<a href="@SiteFilename.BlogPostAddEditURL">
				<img class="imgNoBorder" src="/Assets/Admin/Images/add.png" alt="Add" title="Add as WYSIWYG" />
				Add
			</a>
		</p>
	</div>
	<div class="ui-corner-all dashboardCell">
		<a href="@SiteFilename.CategoryIndexURL">
			<img alt="" src="/Assets/Admin/Images/PostCategories.png" class="imgNoBorder dash-icon" />
			<div>
				@String.Format("Categories ({0}) ", Model.Categories)
			</div>
		</a>
		<p>
			<a href="@SiteFilename.CategoryAddEditURL">
				<img class="imgNoBorder" src="/Assets/Admin/Images/add.png" alt="Add" title="Add as WYSIWYG" />
				Add
			</a>
		</p>
	</div>
	<div class="ui-corner-all dashboardCell">
		<a href="@SiteFilename.TagIndexURL">
			<img alt="" src="/Assets/Admin/Images/PostTags.png" class="imgNoBorder dash-icon" />
			<div>
				@String.Format("Tags ({0}) ", Model.Tags)
			</div>
		</a>
		<p>
			<a href="@SiteFilename.TagAddEditURL">
				<img class="imgNoBorder" src="/Assets/Admin/Images/add.png" alt="Add" title="Add as WYSIWYG" />
				Add
			</a>
		</p>
	</div>
	<div class="ui-corner-all dashboardCell">
		<a href="@SiteFilename.ContentSnippetIndexURL">
			<img alt="" src="/Assets/Admin/Images/PageIndex.png" class="imgNoBorder dash-icon" />
			<div>
				@String.Format("Snippets ({0}) ", Model.Snippets)
			</div>
		</a>
		<p>
			<a href="@SiteFilename.ContentSnippetAddEditURL">
				<img class="imgNoBorder" src="/Assets/Admin/Images/add.png" alt="Add" title="Add as WYSIWYG" />
				Add
			</a>
		</p>
	</div>
	<div class="ui-corner-all dashboardCell">
		<a href="@SiteFilename.ModuleIndexURL">
			<img alt="" src="/Assets/Admin/Images/ModuleAdmin.png" class="imgNoBorder dash-icon" />
			<div>
				Modules
			</div>
		</a>
	</div>
	<div class="ui-corner-all dashboardCell">
		<a href="@SiteFilename.SiteMapURL">
			<img alt="" src="/Assets/Admin/Images/SiteMap.png" class="imgNoBorder dash-icon" />
			<div>
				Edit Site Map
			</div>
		</a>
	</div>
	<div class="ui-corner-all dashboardCell">
		<a href="@SiteFilename.SiteSkinIndexURL">
			<img alt="" src="/Assets/Admin/Images/SiteSkins.png" class="imgNoBorder dash-icon" />
			<div>
				Site Skin Index
			</div>
		</a>
	</div>

	@if (SecurityData.IsAdmin) {
		<div class="ui-corner-all dashboardCell">
			<a href="@SiteFilename.UserIndexURL">
				<img alt="" src="/Assets/Admin/Images/UserList.png" class="imgNoBorder dash-icon" />
				<div>
					Users
				</div>
			</a>
		</div>
		<div class="ui-corner-all dashboardCell">
			<a href="@SiteFilename.RoleIndexURL">
				<img alt="" src="/Assets/Admin/Images/GroupList.png" class="imgNoBorder dash-icon" />
				<div>
					Roles
				</div>
			</a>
		</div>
	}

	<div style="clear: both;">
	</div>
</div>
