@model Carrotware.CMS.Security.Models.LoginViewModel

@{
	Layout = CarrotLayout.Public;

	ViewBag.Title = "Login";
}

@using (Html.BeginForm(SiteActions.Login, CmsRouteConstants.Controller.Admin, FormMethod.Post, new { role = "form" })) {
	@Html.AntiForgeryToken()

	<table style="width: 300px;">
		<tr>
			<td>
				<div style="height: 35px; width: 50px; border: 1px solid transparent;">
				</div>
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				&nbsp;<b class="caption">username</b>
				@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "validationError" })
				<br />
				@Html.TextBoxFor(m => m.UserName, new { @class = "form-control-md", tabindex = "1" })
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				<div style="height: 35px; width: 10px; border: 1px solid transparent;">
				</div>
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				<br />
				&nbsp;<b class="caption">password</b>
				@Html.ValidationMessageFor(m => m.Password, "", new { @class = "validationError" })
				<br />
				@Html.PasswordFor(m => m.Password, new { @class = "form-control-md", tabindex = "2" })
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td>
				<div style="height: 25px; width: 10px; border: 1px solid transparent;">
				</div>
			</td>
			<td>
				&nbsp;
			</td>
			<td>
				<div style="float: right; clear: both; margin-right: 10px; margin-top: 1.75em;">
					<input type="submit" name="cmdLogon" value="Logon" id="cmdLogon" tabindex="3" />
					@Html.HiddenFor(m => m.ReturnUrl)
				</div>
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
	</table>
	<div style="width: 400px; text-align: left; clear: both;">
		@Html.Partial("_PublicValidError")
		<div>
			<p>
				<a href="@SiteFilename.ForgotPasswordURL" id="lnkForgot">Forgot Password?</a>
			</p>
		</div>
	</div>

}