@model Carrotware.CMS.Security.Models.ResetPasswordViewModel

@{
	Layout = CarrotLayout.Public;

	ViewBag.Title = "Reset password";
}

<div style="margin:10px; padding-left:25px;">

	@using (Html.BeginForm("ResetPassword", RouteConfig.AdminCtrlr, FormMethod.Post, new { })) {
		@Html.AntiForgeryToken()

		@Html.HiddenFor(model => model.Code)

		<div>
			@Html.LabelFor(m => m.Email, new { @class = "caption" })
			@Html.ValidationMessageFor(m => m.Email, "", new { @class = "validationError" })
			<div>
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control-lg" })
			</div>
		</div>
		<div>
			@Html.LabelFor(m => m.Password, new { @class = "caption" })
			@Html.ValidationMessageFor(m => m.Password, "", new { @class = "validationError" })
			<div>
				@Html.PasswordFor(m => m.Password, new { @class = "form-control-md" })
			</div>
		</div>
		<div>
			@Html.LabelFor(m => m.ConfirmPassword, new { @class = "caption" })
			@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "validationError" })
			<div>
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control-md" })
			</div>
		</div>
		<br />

		@Html.Partial("_PublicValidError")

		<div>
			<div>
				<input type="submit" value="Reset" />
			</div>
		</div>
	}

	<p>
		<a href="@SiteFilename.LoginURL">Login</a>
	</p>
</div>