<!DOCTYPE html>
@{
	Layout = null;

	string areaName = ViewBag.WidgetAssemblyName;
	string areaAlias = string.Format("{0}_Default", areaName);
}
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - @ViewBag.WidgetAssemblyName</title>
	@CarrotWeb.RenderControlToHtml((new jquerybasic() { SelectedSkin = jquerybasic.jQueryTheme.Silver }))
	@(new Bootstrap() { SelectedSkin = Bootstrap.BootstrapColorScheme.RaspberrySorbet })

	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript">
		$(document).ready(function () {
			doStyles();
		});

		$(document).ajaxComplete(function (event, xhr, settings) {
			doStyles();
		});

		function doStyles() {
			$("input:button, input:submit, input:reset, button").button();
			$("input:button, input:submit, input:reset, button").addClass('btn');

			$(".dateRegion").each(function () {
				$(this).datepicker({
					changeMonth: true,
					changeYear: true,
					showOn: "both",
					buttonImage: '/Content/calendar.png',
					buttonImageOnly: true,
					constrainInput: true
				});
			});
		}

	</script>

	@* https://cdnjs.com/libraries/tinymce/6.8.3 *@
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.3/tinymce.min.js" integrity="sha512-VCEWnpOl7PIhbYMcb64pqGZYez41C2uws/M/mDdGPy+vtEJHd9BqbShE4/VNnnZdr7YCPOjd+CBmYca/7WWWCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script type="text/javascript">
		function cmsTinyMceInit(w, h, r) {
			tinymce.init({
				selector: "textarea.mceEditor",
				promotion: false,
				convert_unsafe_embeds: true,
				height: h,
				width: w,
				resize: r,
				menubar: false,
				plugins: 'image link lists media charmap searchreplace visualblocks table preview code codesample help',
				toolbar: [
					'bold italic underline strikethrough sub sup | blocks forecolor backcolor | blockquote alignleft aligncenter alignright alignjustify outdent indent | help | ',
					'undo redo searchreplace | bullist numlist | removeformat pastetext | link unlink anchor image media customfilebrowser | charmap codesample code preview visualblocks'
				],
				content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
			});
		}

		function cmsPreSaveTrigger() {
			var tgr = tinymce.triggerSave();

			return true;
		}
	</script>

	<script type="text/javascript">
		var bTinyLoaded = false;

		function cmsAjaxFailed() {
		}

		function AjaxTinyLoad() {
			if (!bTinyLoaded) {
				cmsTinyMceInit(875, 500, false);
			}
			bTinyLoaded = true;
		}

		$(document).ready(function () {
			AjaxTinyLoad();
		});

		$(document).ajaxComplete(function (event, xhr, settings) {
			AjaxTinyLoad();
		});
	</script>

	@RenderSection("scripts", required: false)
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Widget: Calendar", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					@using (CarrotWeb.BeginWrappedItem("li", "TestView1;", "Test", new { @class = "active" }, null)) {
						@Html.RouteLink("Display 1", areaAlias, new { action = "TestView1", controller = "Test" })
					}
					@using (CarrotWeb.BeginWrappedItem("li", "TestView2", "Test", new { @class = "active" }, null)) {
						@Html.RouteLink("Display 2", areaAlias, new { action = "TestView2", controller = "Test" })
					}
					@using (CarrotWeb.BeginWrappedItem("li", "TestView3", "Test", new { @class = "active" }, null)) {
						@Html.RouteLink("Display 3", areaAlias, new { action = "TestView3", controller = "Test" })
					}

					@using (CarrotWeb.BeginWrappedItem("li", "*", "Admin", new { @id = "tabAdmin", @class = "active dropdown" }, new { @id = "tabAdmin", @class = "dropdown" })) {
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Test <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>@Html.ActionLink("Database", "CalendarDatabase", "Admin")</li>
							<li>@Html.ActionLink("List Events", "Index", "Admin")</li>
							<li>@Html.ActionLink("Add Event", "CalendarAdminAdd", "Admin")</li>
							@*<li>@Html.ActionLink("Categories", "CalendarAdminCat", "Admin")</li>*@
						</ul>
					}
				</ul>
			</div>
		</div>
	</div>

	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - @areaName</p>
		</footer>
	</div>
</body>
</html>