@inherits CmsWebViewPage

@{
	Layout = "_main.cshtml";

	ViewBag.BodyCssClass = "not-homepage";
}

@section Banner {
	<!-- Banner -->
	<div id="banner">
		<div class="container">
		</div>
	</div>
	<!-- /Banner -->
}

<!-- Main -->
<div id="main">
	<div class="container">
		<div class="row">
			<div class="3u">
				@Html.Partial("_pageNav")
			</div>

			<div class="9u skel-cell-important">
				<section>
					<article>
						<header>
							<h2>@CmsPage.Heading</h2>
							@*<span class="byline">Augue praesent a lacus at urna congue rutrum</span>*@
						</header>

						<div>
							@CarrotCakeHtml.RenderWidget("phCenterTop")
						</div>

						@CarrotCakeHtml.RenderBody(CarrotCakeHtml.TextFieldZone.TextCenter)

						<div>
							@CarrotCakeHtml.RenderWidget("phCenterBottom")
						</div>
					</article>
				</section>
			</div>
		</div>
	</div>
</div>
<!-- Main -->