@inherits CmsWebViewPage

@{
	Layout = "_main.cshtml";

	ViewBag.BodyCssClass = "not-homepage";
}

@section Banner {
	<!-- Banner -->
	<div id="banner">
		<div class="container">
		</div>
	</div>
	<!-- /Banner -->
}

<!-- Main -->
<div id="main">
	<div class="container">
		<div class="row">
			<div class="3u">
				@if (CmsPage.ChildNav.Any()) {
					<section class="sidebar">
						<header>
							<h2>Child Pages</h2>
						</header>
						<ul class="default">
							@foreach (var itm in CmsPage.ChildNav) {
								<li><a href="@itm.FileName">@itm.NavigationText</a></li>
							}
						</ul>
					</section>
				}

				@if (CmsPage.SiblingNav.Any()) {
					<section class="sidebar">
						<header>
							<h2>Sibling Pages</h2>
						</header>
						<ul class="default">
							@foreach (var itm in CmsPage.SiblingNav) {
								<li><a href="@itm.FileName">@itm.NavigationText</a></li>
							}
						</ul>
					</section>
				}
			</div>

			<div class="9u skel-cell-important">
				<section>
					<header>
						<h2>@CmsPage.Heading</h2>
						@*<span class="byline">Augue praesent a lacus at urna congue rutrum</span>*@
					</header>

					@CarrotCakeHtml.RenderBody(CarrotCakeHtml.TextFieldZone.TextCenter)

					<div>
						@CarrotCakeHtml.RenderWidget("phCenterBottom")
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
<!-- Main -->