@model PagedData<Supplier>

@{
	ViewBag.Title = "Suppliers";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "sortTable" })) {
	@Html.AntiForgeryToken()

	var grid = CarrotWeb.CarrotWebGrid(Model);
	grid.PrettifyHeadings = true;
	grid.SetTableAttributes(new { @class = "datatable table" }, new { @class = "tablehead header thead-dark" }, null);
	grid.ConfigName(Html.NameFor(x => x));

	grid.SetupFooter("ul", new { @class = "tablepager ui-widget ui-helper-clearfix" }, "li", new { @class = "ui-state-default ui-state-active ui-corner-all" }, new { @class = "ui-state-default ui-corner-all" });

	grid
		.AddColumn(x => x.SupplierID, new CarrotGridColumn { HeaderText = "ID", Sortable = true })
		.AddColumn(new CarrotGridTemplateColumn<Supplier> {
			HeaderText = "Edit",
			FormatTemplate = @<text> @CarrotWeb.ActionImage("ViewSupplier", "Admin", new { @id = @item.SupplierID }, "~/assets/admin/images/pencil.png", @item.SupplierID.ToString(), null, null) </text>
		})
		.AddColumn(new CarrotGridTemplateColumn<Supplier> {
			HeaderText = "Company",
			FormatTemplate = @<text> @grid.FormFieldFor(m => m.CompanyName, GridFormFieldType.TextBox, new { maxlength = "64", @class = "form-control" }) </text>
		})
		.AddColumn(new CarrotGridTemplateColumn<Supplier> {
			HeaderText = "Contact",
			FormatTemplate = @<text> @grid.FormFieldFor(m => m.ContactName, GridFormFieldType.TextBox, new { maxlength = "64", @class = "form-control" }) </text>
		})

		.AddColumn(x => x.CompanyName, new CarrotGridColumn { Sortable = true })
		.AddColumn(x => x.ContactName, new CarrotGridColumn { Sortable = true })
		.AddColumn(x => x.Address, new CarrotGridColumn { Sortable = true })
		.AddColumn(x => x.City, new CarrotGridColumn { Sortable = true })
		.AddColumn(x => x.Country, new CarrotGridColumn { Sortable = true })
		.AddColumn(x => x.Phone, new CarrotGridColumn { Sortable = true });

		@grid.OutputHtmlBody()

		<nav>
			@{
				@grid.OutputFooter()
			}
		</nav>

}