@model ContentCreator

@{
	Layout = CarrotLayout.Main;
}

<h2>@ViewBag.Title</h2>
<div class="ui-widget">
	<div class="ui-state-highlight ui-corner-all" style="padding: 0.2em; width: 680px; height: auto; font-size: 12px;">
		<div style="font-size: 1.3em; margin: 0.25em;">
			<div class="ui-icon ui-icon-info" style="float: left; margin: 5px; height: 16px;width: 16px"></div>
			<div style="float: left; margin: 0.2em; width: 600px; min-height: 2em;">
				This will create however many entries specified by "How Many" of the specified content type.
				Use with caution in a production site, this is intended for a dev or demo site where
				content needs to be created to experience the site design properly.
			</div>
			<div style="clear: both"></div>
		</div>
	</div>
</div>
<br />
@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group row">
			@Html.LabelFor(m => m.HowMany, htmlAttributes: new { @class = "control-label col-form-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(m => m.HowMany, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
				@Html.ValidationMessageFor(m => m.HowMany, "", new { @class = "text-danger" })
			</div>
		</div>

		@if (Model.ContentType == Carrotware.CMS.Core.ContentPageType.PageType.ContentEntry) {
			<div class="form-group row">
				@Html.LabelFor(m => m.TopLevel, htmlAttributes: new { @class = "control-label col-form-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(m => m.TopLevel)
					@Html.ValidationMessageFor(m => m.TopLevel, "", new { @class = "text-danger" })
				</div>
			</div>
		}

		@if (Model.ContentType == Carrotware.CMS.Core.ContentPageType.PageType.BlogEntry) {
			<div class="form-group row">
				@Html.LabelFor(m => m.Tags, htmlAttributes: new { @class = "control-label col-form-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(m => m.Tags, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
					@Html.ValidationMessageFor(m => m.Tags, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group row">
				@Html.LabelFor(m => m.Categories, htmlAttributes: new { @class = "control-label col-form-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(m => m.Categories, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
					@Html.ValidationMessageFor(m => m.Categories, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group row">
				@Html.LabelFor(m => m.BlogComments, htmlAttributes: new { @class = "control-label col-form-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(m => m.BlogComments, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
					@Html.ValidationMessageFor(m => m.BlogComments, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group row">
				@Html.LabelFor(m => m.DateFrom, htmlAttributes: new { @class = "control-label col-form-label col-md-2" })
				<div class="col-md-10">
					<div class="input-group">
						@Html.TextBoxFor(m => m.DateFrom, WebHelper.ShortDateFormatPattern, new { maxlength = "12", size = "16", @class = "dateRegion form-control form-control-sm" })
						@*@Html.EditorFor(m=> m.DateFrom, new { htmlAttributes = new { @class = "form-control form-control-sm" } }) *@
						@Html.ValidationMessageFor(m => m.DateFrom, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>

			<div class="form-group row">
				@Html.LabelFor(m => m.DateTo, htmlAttributes: new { @class = "control-label col-form-label col-md-2" })
				<div class="col-md-10">
					<div class="input-group">
						@Html.TextBoxFor(m => m.DateTo, WebHelper.ShortDateFormatPattern, new { maxlength = "12", size = "16", @class = "dateRegion form-control form-control-sm" })
						@*@Html.EditorFor(m=> m.DateTo, new { htmlAttributes = new { @class = "form-control form-control-sm" } })*@
						@Html.ValidationMessageFor(m => m.DateTo, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>
		}

		<div class="form-group row">
			<div class="col-md-offset-2 offset-sm-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
}

@if (Model.PageLinks.Any()) {
	<b>@string.Format("{0} entries created", Model.PageLinks.Count) </b>
	<ul>
		@foreach (var pl in Model.PageLinks) {
			<li>
				<a target="_blank" href="@pl">@pl</a>
			</li>
		}
	</ul>
}