@inherits CmsWebViewPage

<div id="contactForm">
	@{
		var cap = new Captcha();
		cap.SetBackColor("#ffffff");
		cap.SetForeColor("#333333");
		cap.SetNoiseColor("#999999");

		using (var cmtFrm = CarrotCakeHtml.BeginContactForm(new AjaxOptions { UpdateTargetId = "contactForm" })) {
			var cmt = cmtFrm.GetModelHelper("_plaincontact", cap);
			if (!cmt.ViewData.Model.IsSaved) {
				@cmt.ValidationSummary(true, "", new { @class = "text-danger" })
				<div>
					<label for="@cmt.IdFor(m => m.CommenterName)">Name</label><br />
					@cmt.TextBoxFor(m => m.CommenterName)
					@cmt.ValidationMessageFor(m => m.CommenterName, "", new { @class = "text-danger" })
				</div>

				<div>
					<label for="@cmt.IdFor(m => m.CommenterEmail)">Email</label><br />
					@cmt.TextBoxFor(m => m.CommenterEmail)
					@cmt.ValidationMessageFor(m => m.CommenterEmail, "", new { @class = "text-danger" })
				</div>

				<div>
					<label for="@cmt.IdFor(m => m.PostCommentText)">Your Comments</label>
					@cmt.ValidationMessageFor(m => m.PostCommentText, "", new { @class = "text-danger" })
					<br />
					@cmt.TextAreaFor(m => m.PostCommentText, new { rows = "5", cols = "50" })
				</div>

				<div>
					<div> @cap </div>
					<label for="@cmt.IdFor(m => m.ValidationValue)">@cap.Instructions</label><br />
					@cmt.TextBoxFor(m => m.ValidationValue)
					@cmt.ValidationMessageFor(m => m.ValidationValue, "", new { @class = "text-danger" })
					<br />
				</div>

				<br />
				<input class="button" type="submit" value="Send Feedback" />
				<input class="button" type="reset" value="Clear form" />
			} else {
				<p>Thank you for your comment.</p>
			}
		}
	}
</div>