@{
	Layout = "~/Views/CmsAdmin/_LayoutMain.cshtml";

	ViewBag.Title = "Modules";
	int iOpenTab = 0;
	int selTab = 0;
	string selCssClass = "notSelectedModule";

	string SelMenu = CMSConfigHelper.PluginAreaPath;
	string SelAreaName = String.Empty;
	string SelPluginAreaName = String.Empty;
	string SelPluginActionName = String.Empty;
	string CurrentAction = String.Empty;
	string CurrentController = String.Empty;

	List<CMSAdminModule> modules = new List<CMSAdminModule>();
	using (CMSConfigHelper cmsHelper = new CMSConfigHelper()) {
		modules = cmsHelper.AdminModules;
	}

	RouteValueDictionary vals = this.ViewContext.RouteData.Values;
	if (vals["action"] != null) {
		CurrentAction = vals["action"].ToString();
	}
	if (vals["controller"] != null) {
		CurrentController = vals["controller"].ToString();
	}

	string CurrentActionFull = String.Format("{0}", CurrentAction);

	string currentQueryString = String.Empty;
	if (HttpContext.Current.Request.ServerVariables["QUERY_STRING"] != null) {
		currentQueryString = HttpContext.Current.Request.ServerVariables["QUERY_STRING"].ToString();
		if (!String.IsNullOrEmpty(currentQueryString)) {
			CurrentActionFull = String.Format("{0}?{1}", CurrentAction, currentQueryString);
		}
	}
}

@section scripts {

	@RenderSection("scripts", required: false)

}

<table style="width: 96%">
	<tr>
		<td style="width: 275px;">
			<div style="width: 250px; padding-right: 25px;">
				<div id="module-accordion">
					@foreach (var mod in modules) {
						if (mod.AreaKey.ToLower() == SelMenu.ToLower()) {
							selTab = iOpenTab;
							SelAreaName = mod.AreaKey;
							SelPluginAreaName = mod.PluginName;
						}
						<h3>
							<a href="#">
								@mod.PluginName
							</a>
						</h3>
						<div>
							<input type="hidden" name="hdnID" id="hdnID" value="@mod.AreaKey" />
							@foreach (var plug in mod.PluginMenus.OrderBy(x => x.SortOrder).Where(x => x.IsVisible)) {
								selCssClass = "notSelectedModule";
								if (plug.AreaKey == SelMenu && plug.Action == CurrentActionFull && plug.Controller == CurrentController) {
									selCssClass = "selectedModule";
									SelPluginActionName = plug.Caption;
								}
								<div class="moduleLink">
									<a class="@selCssClass" href="@String.Format("/{0}/{1}/{2}", plug.AreaKey, plug.Controller, plug.Action)">
										@plug.Caption
									</a>
								</div>
							}
						</div>
							iOpenTab++;
					}
				</div>
			</div>
		</td>

		<td>
			@if (!String.IsNullOrEmpty(SelPluginAreaName)) {
				<h2>
					@if (!String.IsNullOrEmpty(SelPluginActionName)) {
						@String.Format("{0} : {1}", SelPluginAreaName, SelPluginActionName)
					} else {
						@String.Format("{0}", SelPluginAreaName)
					}
				</h2>
			}
			<!--   @SelMenu  @SelAreaName  -->

			<script type="text/javascript">

				$(document).ready(function () {
					moduleLoader();
				});

				$(document).ajaxComplete(function (event, xhr, settings) {
					moduleLoader();
				});

				setTimeout("moduleLoader();", 250);

				function moduleLoader() {
					modulePageLoad();
				}

				function modulePageLoad() {
					$("#module-accordion").accordion({
						heightStyle: "content",
						active: parseInt('@selTab')
					});

					$('#tabExtensions').attr('class', "current sub");
				}
			</script>

			@RenderBody()
		</td>
	</tr>
</table>

@section footer {

	@RenderSection("footer", required: false)

}