@{
	Layout = "~/Views/CmsAdmin/_LayoutMain.cshtml";

	ViewBag.Title = "Modules";

	var settings = new ModuleInfo(this.ViewContext);

	int sectionSequence = 0;

}

@section scripts {

	@RenderSection("scripts", required: false)

}

<table style="width: 96%">
	<tr>
		<td style="width: 275px;">
			<div style="width: 250px; padding-right: 25px;">
				<div id="module-accordion" class="accordion">
					@foreach (var mod in settings.Modules) {
						string sectionId = String.Format("moduleGroup{0}", sectionSequence);
						string sectionSubId = String.Format("moduleSubGroup{0}", sectionSequence);
						settings.EvalModule(mod);

						if (!Helper.UseBootstrap) {
							<h3>
								<a href="#">
									@mod.PluginName
								</a>
							</h3>
							<div>
								<input type="hidden" name="hdnID" id="hdnID" value="@mod.AreaKey" />
								@foreach (var plug in mod.PluginMenus.OrderBy(x => x.SortOrder).Where(x => x.IsVisible)) {
									settings.EvalPlug(plug);

									<div class="moduleLink">
										<a class="@settings.SelectedCssClass" href="@String.Format("/{0}/{1}/{2}", plug.AreaKey, plug.Controller, plug.Action)">
											@plug.Caption
										</a>
									</div>
								}
							</div>
						} else {
							<div class="accordion-item">
								<h3 class="accordion-header" id="@sectionId">
									<button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
											data-bs-target="#@sectionSubId" aria-expanded="true" aria-controls="@sectionSubId">
										@mod.PluginName
									</button>
								</h3>
								<div id="@sectionSubId" class="accordion-collapse collapse" aria-labelledby="@sectionId" data-bs-parent="#module-accordion">
									<div class="accordion-body">
										<input type="hidden" name="hdnID" id="hdnID" value="@mod.AreaKey" />
										@foreach (var plug in mod.PluginMenus.OrderBy(x => x.SortOrder).Where(x => x.IsVisible)) {
											settings.EvalPlug(plug);

											<div class="moduleLink">
												<a class="@settings.SelectedCssClass" href="@String.Format("/{0}/{1}/{2}", plug.AreaKey, plug.Controller, plug.Action)">
													@plug.Caption
												</a>
											</div>
										}
									</div>
								</div>
							</div>
						}

						settings.OpenTab++;
						sectionSequence++;
					}
				</div>
			</div>
		</td>

		<td>
			@{
				string pluginCaption = settings.GetPluginCaption();
			}

			<h2>@pluginCaption</h2>

			<script type="text/javascript">

				$(document).ready(function () {
					moduleLoader();
				});

				$(document).ajaxComplete(function (event, xhr, settings) {
					moduleLoader();
				});

				setTimeout("moduleLoader();", 250);

				function moduleLoader() {
					modulePageLoad();
				}

				function modulePageLoad() {
					@if (!Helper.UseBootstrap) {
						<text>
						$('#tabExtensions').addClass("current sub active");
						$("#module-accordion").accordion({
							heightStyle: "content",
							collapsible: true,
							active: parseInt('@settings.SelectedTab')
						});
						</text>
					} else {
						<text>
						$('#tabExtensions').addClass("current active");
						$('#moduleGroup' + '@settings.SelectedTab' + ' button').removeClass("collapsed");
						$('#moduleSubGroup' + '@settings.SelectedTab').addClass("show");
						</text>
					}
				}
			</script>

			@RenderBody()
		</td>
	</tr>
</table>

@section footer {

	@RenderSection("footer", required: false)

}