@model Carrotware.Web.UI.Components.PagedData<tblGalleryImage>

@{
	ViewBag.Title = "View";
}
<style>
	#icons li {
		cursor: pointer;
		float: left;
		list-style: outside none none;
		margin: 2px;
		padding: 4px 0;
		position: relative;
	}

	#icons a {
		margin: 4px;
		padding: 4px;
	}
</style>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "sortTable" })) {
	@Html.AntiForgeryToken()

	<span>OrderBy</span> @Html.TextBoxFor(m => m.OrderBy) <br />
	<span>PageNumber</span> @Html.TextBoxFor(m => m.PageNumber) <br />
	<span>PageSize</span> @Html.TextBoxFor(m => m.PageSize) <br />
	<br />
	<input id="btnSub" type="submit" value="Submit" class="btn btn-primary" />
	<br />

	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => Model.DataSource[0].GalleryImage)
			</th>
			<th>
				@Html.DisplayNameFor(model => Model.DataSource[0].ImageOrder)
			</th>
			<th>
				@Html.DisplayNameFor(model => Model.DataSource[0].GalleryID)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model.DataSource) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.GalleryImage)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ImageOrder)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.GalleryID)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.GalleryImageID })
				</td>
			</tr>
		}

	</table>

	<script>
		function __clickPage(nbr, fld) {
			$('#' + fld).val(nbr);
			$('#' + fld).focus();
			$('#btnSub').click();
		}
	</script>

	<ul id="icons" class="ui-widget ui-helper-clearfix">

		@foreach (var i in Model.PageNumbers) {
			string clickFn = String.Format("javascript:__clickPage('{0}','{1}')", i, Html.IdFor(m => m.PageNumber));

			using (CarrotWeb.BeginWrappedItem("li", i, Model.PageNumber, new { @class = "ui-state-hover ui-corner-all" }, new { @class = "ui-state-default ui-corner-all" })) {

				using (CarrotWeb.BeginWrappedItem("a", i, Model.PageNumber, new { @class = "selected", @href = clickFn }, new { @href = clickFn })) {
					@String.Format(" {0} ", i)
				}
			}
		}

	</ul>

}
