@inherits CmsWebViewPage

@{
	var cats = CmsPage.GetSiteCategories(10, true);
	var tags = CmsPage.GetSiteTags(10, true);
	var dates = CmsPage.GetSiteDates(12);
}

<section class="sidebar">
	<div id="calendar_wrap">
		@( new PostCalendar("calendar") )
	</div>
</section>

@Html.Partial("_searchBox")

@if (dates.Any()) {
	<section class="sidebar">
		<h3>Dates</h3>
		<ul class="sidemenu">
			@foreach (var itm in dates) {
				<li><a href="@itm.Uri">@itm.Text</a></li>
			}
		</ul>
	</section>
}

@if (cats.Any()) {
	<section class="sidebar">
		<h3>Categories</h3>
		<ul class="sidemenu">
			@foreach (var itm in cats) {
				<li><a href="@itm.Uri">@itm.Text</a></li>
			}
		</ul>
	</section>
}

@if (tags.Any()) {
	<section class="sidebar">
		<h3>Tags</h3>
		<ul class="sidemenu">
			@foreach (var itm in tags) {
				<li><a href="@itm.Uri">@itm.Text</a></li>
			}
		</ul>
	</section>
}