@inherits CmsWebViewPage

@{

	var pager = new PagedDataSummary();
	pager.ContentType = PagedDataSummary.SummaryContentType.Blog;
	pager.PageSize = 3;
	pager.PageNumbParm = "nopage#";
	pager.IgnoreSitePath = true;
	pager.FetchData();

	string cssImage = "image-wrapper first";
	string imgPath = string.Empty;

	int imgIdx = 1;
}

<div class="row features">
	@foreach (var p in pager.DataSource) {
		imgIdx++;
		var idx = (imgIdx % 3) + 3;
		imgPath = p.Thumbnail;

		if (string.IsNullOrEmpty(imgPath)) {
			imgPath = string.Format("/Assets/telephasic/images/pic0{0}.jpg", idx);
		}

		<section class="col-4 col-12-narrower feature">
			<div class="@cssImage">
				<a href="@p.FileName" class="image featured"><img src="@imgPath" alt="" /></a>
			</div>
			<header>
				<h3>@p.NavigationText</h3>
			</header>
			<p>
				@p.PageTextPlainSummary
			</p>
			<ul class="actions">
				<li><a href="@p.FileName" class="button">Read more</a></li>
			</ul>
		</section>

		cssImage = "image-wrapper";
	}
</div>