@inherits CmsWebViewPage
<!DOCTYPE HTML>
@*
	Telephasic by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)

	Conversion to CarrotCake CMS MVC Template: Carrotware
*@
@{
	Layout = null;

	string bodyCssClass = ViewBag.TelephasicBodyStyle ?? "no-style";

	ViewBag.Title = CmsPage.Titlebar;
	ViewBag.SiteName = CmsPage.TheSite.SiteName;

	var nav = new TwoLevelNavigation() {
		AutoStylingDisabled = true,
		CssSelected = "selected",
		ElementId = "nav"
	};

	bool specialThemed = ViewBag.TelephasicThemed ?? false;
}
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	@(new jquerybasic() { SelectedSkin = jquerybasic.jQueryTheme.Silver, JQVersion = "2" })
	<link rel="stylesheet" href="~/Assets/telephasic/css/main.css" />

	<script type="text/javascript">
		$(document).ready(function () {
			// split the nav so it doesn't get covered by site button
			var navSize = $('#@nav.ElementId .level1').length;

			if (navSize > 0) {
				if (navSize > 1) {
					var halfNav = Math.floor((navSize / 2)) + 1;
					$("#@nav.ElementId .level1:nth-child(" + halfNav + ")").addClass('break');
				} else {
					$("#@nav.ElementId .level1").addClass('break');
				}
			}
		});
	</script>

	@if (specialThemed) {
		var img = new HtmlString("'/Assets/telephasic/images/overlay.png'");
		var svg = new HtmlString("'/Assets/telephasic/images/header.svg'");

		var main = Helper.MainColorCode;
		var mainLt = CmsSkin.LightenColor(main, 0.18);
		var mainDk = CmsSkin.DarkenColor(main, 0.36);
		//var mainRot = CmsSkin.RotateColor(mainDk, 90);

		<style type="text/css">
		#header-wrapper {
			background-image: url(@svg);
			background-image: url(@img), url(@svg), -moz-linear-gradient(75deg, @mainDk 15%, @mainLt 55%);
			background-image: url(@img), url(@svg), -webkit-linear-gradient(75deg, @mainDk 15%, @mainLt 55%);
			background-image: url(@img), url(@svg), -ms-linear-gradient(75deg, @mainDk 15%, @mainLt 55%);
			background-image: url(@img), url(@svg), linear-gradient(75deg, @mainDk 15%, @mainLt 55%);
			background-color: @main;
		}
		</style>
	}

	@CarrotCakeHtml.MetaTags()
	@CarrotCakeHtml.Rss()

	<title>@CmsPage.Titlebar</title>

	@CarrotCakeHtml.IncludeHeader()
</head>
<body class="@bodyCssClass">
	<div id="page-wrapper">

		<!-- Header -->
		<div id="header-wrapper">
			<div id="header" class="container">

				<!-- Logo -->
				<h1 id="logo"><a href="~/">@ViewBag.SiteName</a></h1>

				<!-- Nav -->
				<nav id="nav">
					@CarrotWeb.RenderTwoPartControlBody(nav)
				</nav>
			</div>

			@RenderSection("HeroSection", required: false)
		</div>

		@RenderBody()

		<!-- Footer -->
		<div id="footer-wrapper">
			<div id="footer" class="container">
				<header class="major">
					@CarrotCakeHtml.RenderWidget(CarrotCakeHtml.CommonWidgetZone.phWidgetZone01)
				</header>
				<div class="row">
					<section class="col-6 col-12-narrower">
						@Html.Partial("_contactus")
					</section>
					<section class="col-6 col-12-narrower">
						<div class="row gtr-0">
							<ul class="divided icons col-6 col-12-mobile">
								<li class="icon brands fa-twitter"><a href="#"><span class="extra">twitter.com/</span>untitled</a></li>
								<li class="icon brands fa-facebook-f"><a href="#"><span class="extra">facebook.com/</span>untitled</a></li>
								<li class="icon brands fa-dribbble"><a href="#"><span class="extra">dribbble.com/</span>untitled</a></li>
							</ul>
							<ul class="divided icons col-6 col-12-mobile">
								<li class="icon brands fa-instagram"><a href="#"><span class="extra">instagram.com/</span>untitled</a></li>
								<li class="icon brands fa-youtube"><a href="#"><span class="extra">youtube.com/</span>untitled</a></li>
								<li class="icon brands fa-pinterest"><a href="#"><span class="extra">pinterest.com/</span>untitled</a></li>
							</ul>
						</div>
					</section>
				</div>
			</div>
			<div id="copyright" class="container">
				<ul class="menu">
					<li>
						@Html.Raw(string.Format("&copy; {0}, {1} ", DateTime.Now.Year, CmsPage.TheSite.SiteName.Trim()))
					</li>
					<li>Design: <a target="_blank" href="http://html5up.net">HTML5 UP</a></li>
					<li>Site built with <a target="_blank" href="http://www.carrotware.com/">carrotcake cms</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="~/Assets/telephasic/js/jquery.dropotron.min.js"></script>
	<script src="~/Assets/telephasic/js/browser.min.js"></script>
	<script src="~/Assets/telephasic/js/breakpoints.min.js"></script>
	<script src="~/Assets/telephasic/js/util.js"></script>
	<script src="~/Assets/telephasic/js/main.js"></script>

	@CarrotCakeHtml.IncludeFooter()
</body>
</html>