@inherits CmsWebViewPage
@{
	Layout = "_main.cshtml";

	ViewBag.TelephasicBodyStyle = "homepage is-preload";
}

@section HeroSection {
	<!-- Hero -->
	<section id="hero" class="container">
		<header>
			<h2>@CmsPage.ThePage.HeadingText </h2>
		</header>
		<div>
			@CarrotCakeHtml.RenderWidget(CarrotCakeHtml.CommonWidgetZone.phCenterTop)
		</div>
		<div>
			@CarrotCakeHtml.RenderBody(CarrotCakeHtml.TextFieldZone.TextCenter)
		</div>
		<div>
			@CarrotCakeHtml.RenderWidget(CarrotCakeHtml.CommonWidgetZone.phCenterBottom)
		</div>
	</section>
}

<!-- Features 1 -->
<div class="wrapper">
	<div class="container">
		<div class="row">
			<section class="col-6 col-12-narrower feature">
				<div class="image-wrapper first">
					<a href="#" class="image featured first"><img src="~/Assets/telephasic/images/pic01.jpg" alt="" /></a>
				</div>
				<div>
					@CarrotCakeHtml.RenderWidget(CarrotCakeHtml.CommonWidgetZone.phLeftTop)
				</div>
				<div>
					@CarrotCakeHtml.RenderBody(CarrotCakeHtml.TextFieldZone.TextLeft)
				</div>
				<div>
					@CarrotCakeHtml.RenderWidget(CarrotCakeHtml.CommonWidgetZone.phLeftBottom)
				</div>
			</section>
			<section class="col-6 col-12-narrower feature">
				<div class="image-wrapper">
					<a href="#" class="image featured"><img src="~/Assets/telephasic/images/pic02.jpg" alt="" /></a>
				</div>
				<div>
					@CarrotCakeHtml.RenderWidget(CarrotCakeHtml.CommonWidgetZone.phRightTop)
				</div>
				<div>
					@CarrotCakeHtml.RenderBody(CarrotCakeHtml.TextFieldZone.TextRight)
				</div>
				<div>
					@CarrotCakeHtml.RenderWidget(CarrotCakeHtml.CommonWidgetZone.phRightBottom)
				</div>
			</section>
		</div>
	</div>
</div>

@if (SecurityData.AdvancedEditMode == true || SiteData.IsPageSampler
						|| CmsPage.TheWidgets.Where(x => x.IsWidgetActive && x.PlaceholderName == "phWidgetZone02").Any()) {
	<!-- Promo -->
	<div id="promo-wrapper">
		<section id="promo">
			@CarrotCakeHtml.RenderWidget(CarrotCakeHtml.CommonWidgetZone.phWidgetZone02)
		</section>
	</div>
}

<!-- Features 2 -->
<div class="wrapper">
	<section class="container">
		@Html.Partial("_features")
	</section>
</div>