@inherits CmsWebViewPage
@*
	Telephasic by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)

	Conversion to CarrotCake CMS MVC Template: Carrotware
*@

@{
	Layout = "_main.cshtml";
	ViewBag.TelephasicBodyStyle = "no-sidebar";
}

@section MainSection {
	<!-- Main -->
	<div class="wrapper">
		<div class="container" id="main">

			<!-- Content -->
			<article id="content">
				<header>
					<h2>@CmsPage.Heading</h2>
				</header>
				<div>
					@CarrotCakeHtml.RenderWidget("phCenterTop")
				</div>
				<div>
					@CarrotCakeHtml.RenderBody(CarrotCakeHtml.TextFieldZone.TextCenter)
				</div>
				<div>
					@CarrotCakeHtml.RenderWidget("phCenterBottom")
				</div>
			</article>

			@Html.Partial("_features")
		</div>
	</div>
}