@inherits CmsWebViewPage
@{
	Layout = "_main.cshtml";

	ViewBag.TelephasicBodyStyle = "no-sidebar is-preload";
}

<!-- Main -->
<div class="wrapper">
	<div class="container" id="main">

		<!-- Content -->
		<article id="content">
			<header>
				<h2>@CmsPage.ThePage.HeadingText</h2>
			</header>
			<a href="#" class="image featured"><img src="~/Assets/telephasic/images/pic06.jpg" alt="" /></a>
			<div>
				@CarrotCakeHtml.RenderWidget(CarrotCakeHtml.CommonWidgetZone.phCenterTop)
			</div>
			<div>
				@CarrotCakeHtml.RenderBody(CarrotCakeHtml.TextFieldZone.TextCenter)
			</div>
			<div>
				@CarrotCakeHtml.RenderWidget(CarrotCakeHtml.CommonWidgetZone.phCenterBottom)
			</div>
		</article>

		@Html.Partial("_features")
	</div>
</div>