@inherits CmsWebViewPage
@{
	Layout = "_main.cshtml";

	ViewBag.TelephasicBodyStyle = "right-sidebar is-preload";
}

<!-- Main -->
<div class="wrapper">
	<div class="container" id="main">
		<div class="row gtr-150">
			<div class="col-8 col-12-narrower">

				<!-- Content -->
				<article id="content">
					<header>
						<h2>@CmsPage.Heading</h2>
					</header>
					<a href="#" class="image featured"><img src="~/Assets/telephasic/images/pic01.jpg" alt="" /></a>
					<div>
						@CarrotCakeHtml.RenderWidget(CarrotCakeHtml.CommonWidgetZone.phCenterTop)
					</div>
					<div>
						@CarrotCakeHtml.RenderBody(CarrotCakeHtml.TextFieldZone.TextCenter)
					</div>
					<div>
						@CarrotCakeHtml.RenderWidget(CarrotCakeHtml.CommonWidgetZone.phCenterBottom)
					</div>
				</article>
			</div>
			<div class="col-4 col-12-narrower">

				<!-- Sidebar -->
				@Html.Partial("_searchBox")
				@Html.Partial("_subPageNav")
				<section id="sidebar">
					<div>
						@CarrotCakeHtml.RenderWidget(CarrotCakeHtml.CommonWidgetZone.phRightTop)
					</div>
					<div>
						@CarrotCakeHtml.RenderBody(CarrotCakeHtml.TextFieldZone.TextRight)
					</div>
					<div>
						@CarrotCakeHtml.RenderWidget(CarrotCakeHtml.CommonWidgetZone.phRightBottom)
					</div>
					<section>
						<a href="#" class="image featured"><img src="~/Assets/telephasic/images/pic07.jpg" alt="" /></a>
					</section>
				</section>
			</div>
		</div>
		@Html.Partial("_features")
	</div>
</div>